@import 'utils';
@import 'fonts';
@import 'typography';

* {
  scroll-behavior: smooth;
}

body {
  background: $c-background;
  margin: 0;
}


.button-play {
  background: none;
  border: none;
  padding-bottom: 23px;
}
