$c-gray: #eee;
$c-contrast: #05C2DF;
$c-bg-black: #05040B;
$c-dark-grey: #2F2F2F;
$c-text: #929292;
$c-white: #fff;
$c-background: linear-gradient(100.83deg, #191536 0.67%, #000 100%);
$tablet-width: 640px;
$desktop-width: 1280px;
$big-desktop: 1440px;
$effect-duration: 0.5s;

