.header {
  &__image {
    width: 100%;
  }

  &__title {
    margin: 0;

    &--new {
      color: $c-white;
    }
  }

  &__text {
    font-weight: 500;
    padding: 17px 0 55px;
  }

  &__price {
    color: $c-white;
    padding-bottom: 15px;
    text-align: center;
  }
}
