.tech {
  &__img {
    width: 100%;
    height: 205.7px;
  }

  &__title {
    padding-bottom: 30px;
  }

  &__background {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__box {
    position: relative;
    width: 214px;
  }

  &__content {
    position: absolute;

    &--sensor {
      inset: 0 103px 171px 60px;
    }

    &--connection {
      inset: 153px 180px 7px -17px;
    }

    &--batterries {
      inset: 80px 29px 80px 134px;

    }
  }

  &__button {
    width: 34px;
    height: 34px;
    border: 2px;
    border-radius: 50%;
    color: $c-white;
    background-color: $c-contrast;

    @media (min-width: 1440px) {
      display: none;
    }
  }

  &__text {
    @media (max-width: 1439px) {
      display: none;
    }
  }
}
